@charset "UTF-8";

h1{
    font-size:120%; /*フォントサイズの調整*/
    color:#313131; /*文字色の変更*/
    padding-top: 10px; /*文字上部に余白*/
    padding-bottom: 10px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    border:1px solid #313131; /*文字の周りに線を描く*/
    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
}

body .btn{
    color: #eeeeec;    /*文字色の変更*/
    border: 1px solid #729fcf;   /*線を描く（ホバー時のずれを防ぐため）*/
    background-color: #204a87;   /*背景色の指定*/
    padding-top: 10px;  /*文字上部の余白を指定*/
    padding-bottom: 10px;   /*文字下部の余白を指定*/
    padding-right: 30px;    /*文字右側の余白を指定*/
    padding-left: 30px; /*文字左側の余白を指定*/
    border-radius: 5px; /*線の角を丸くする*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
    overflow: hidden;   /*おまじない*/
    float: right;   /*フロートする*/
}

body .btn:hover{
    background-color: #729fcf; /*背景色の指定*/
    border: 1px solid #204a87;   /*線を描く*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;   /*ホバー時の変化をなめらかに*/
    color: #eeeeec;  /*文字色の指定*/
    overflow: hidden;   /*おまじない*/
}